CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=gel
DWH_S3_ENDPOINT=http://localhost:9000
DWH_S3_BUCKET=gel-lake
MINIO_ROOT_USER=gelassenheit
MINIO_ROOT_PASSWORD=gelassenheit_secret
POSTGRES_USER=gel
POSTGRES_PASSWORD=gel
POSTGRES_DB=gel_sources
